.navbar {
    text-decoration: underline;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: lightgray;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}